.social_block {
  display: flex;

  &--link {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: $primaryColor;
    color: $lightColor;

    &:not(:last-child) {
      margin-right: 10px;
    }

    &:hover {
      background: darken($primaryColor, 20%);
    }
  }
}
