$desktopWidth: 1440px;
$smDesktopWidth: 1280px;
$tabletWidth: 1024px;
$smTabletWidth: 720px;
$mobileWidth: 490px;

// Colors

$bgColor: #131313;
$lightColor: #fff;
$darkColor: #181818;
$primaryColor: rgb(227, 184, 115);
$optionColor: rgba(149, 149, 149, 1);

// Fonts
$mainFont: "FuturaC", sans-serif;
$optionFont: "Proxima Nova", sans-serif;
$titleFont: "Yeseva One", serif;
