.main_info {
  margin-top: 20px;

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--info_block {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &--location {
    margin: 10px 0;
  }

  &--photo {
    width: 130px;
    border-radius: 50%;
  }
}

.edu {
  margin-top: 20px;

  &--header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    border-top: 1px solid rgba($darkColor, 0.15);
    border-bottom: 1px solid rgba($darkColor, 0.15);
    cursor: pointer;

    .title {
      margin-right: 15px;
    }
  }

  &--list {
    display: none;
    padding: 0 30px;
  }
  
  &--item {
    margin: 10px 0;
  }

  &--place {
    font-size: 2rem;
    font-weight: 500;
  }

  &-opened & {

    &--list {
      display: block;
      border-bottom: 1px solid rgba($darkColor, 0.15);
    }

    &--header {
      i {
        transform: rotate(180deg);
      }
    }
  }
}


.projects {

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .title {
    padding: 15px 0;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgba($darkColor, 0.15);
  }

  &--carousel {
    margin-top: 20px;
    position: relative;
    text-align: center;
    width: 100%;
  }

  &--slide_container {
    border: 1px solid rgba($darkColor, 0.15);
    position: relative;
    margin: 0 40px;
    overflow: hidden;
  }

  &--slide {
    display: none;
    align-items: center;
    position: relative;
    width: 100%;
    height: 400px;
    animation: 0.5s ease-in-out;

    &-active, &-next {
      display: flex;
    }

    &-next {
      position: absolute;
      top: 0;
    }
  }

  .to-left {
    animation-name: left;
  }

  .to-right {
    animation-name: right;
    animation-direction: reverse;
  }

  .from-left {
    animation-name: left;
    animation-direction: reverse;
  }

  .from-right {
    animation-name: right;
  }

  @keyframes left {
    from {
      left: 0;
    }
    to {
      left: -100%;
    }
  }

  @keyframes right {
    from {
      left: 100%;
    }
    to {
      left: 0;
    }
  }

  &--link {
    width: 50%;
  }

  &--description {
    padding: 10px;
    width: 50%;
  }

  &--project_name {
    text-transform: uppercase;
  }
  
  &--specs_list {
    margin-top: 15px;
  }

  .descrp_btn {
    display: none;
    position: absolute;
    left: calc(50%-100px);
    top: 10px;
  }

  @media screen and (max-width: 640px) {
    &--slide_container {
      margin: 0;
      width: 100%;
    }
    
    &--slide {
      flex-direction: column;
      height: 500px;
    }

    &--link {
      width: 100%;
    }

    .round_btn {
      display: none;
    }

    .descrp_btn {
      display: block;
    }

    &--description {
      display: none;
      position: absolute;
      width: 250px;
      background: $lightColor;
      top: 70px;
      &-active {
        display: block;
      }
    }
  }

}